html {
    font-size: 10px;
}

body {
    font-size: 16px;
}
.Cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    z-index: 1000;
    height: 0;
    overflow: hidden;
    transition: 0.5s;

    &.on {
        height: 100vh;
    }
    .top{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        gap: 40px;
        align-items: center;        
        text-align: center;
        font-size: 30px;
    }
    .bottom{
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
        

}
.btn {
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 1000;
    font-size: 0;
    width: 3rem;
    height: 3rem;
    border: none;
    outline: none;
    background: transparent;

    &::before {
        content: "";
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
        height: 2px;
        background: #FD3B10;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
        height: 2px;
        background: #FD3B10;
    }

    &.on::before {
        display: none;
    }

    &.on::after {
        display: none;
    }

    span::before,
    span::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 0.5rem;
        right: 0.5rem;
        height: 2px;
        background: #FD3B10;
    }

    &.on span::before {
        transform: rotate(45deg);
    }

    &.on span::after {
        transform: rotate(-45deg);
    }
}




.page{
    width: 100vw;
    height: 100vh;
    background: #151515;
}

.pf_home{
    position: relative;
    .tMenu{
        position: absolute;
        top: 30px;
        left: 40px;
        font-size:45px;
        color: #FD3B10;
        font-weight: 600;
    }
    .inner{
        position: absolute;
        top: 50%;
        left:50%;
        max-width: 1250px;
        width: 100%;
        transform: translate(-50%,-50%);
        text-align: center;
        p{
            font-size: 35px;
            font-weight: 600;
            color: #FD3B10;
            margin-bottom: 20px;

        }
        h1{        
            font-size: 120px;        
            font-weight: 300;
            color: #fff;

        }
    }
}

.pf_about{
    position: relative;
    .page{
        background: url(../../public/img/main_background.png) no-repeat center center / cover;
    }   
    .tMenu{
        position: absolute;
        top: 30px;
        left: 40px;
        font-size:45px;
        color: #FD3B10;
        font-weight: 600;
    }
    .inner{
        display: flex;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        border-radius: 35px;
        width: 1250px;
        height: 750px;
        background: #ececec;
        .left{
            padding: 70px;
            .top{
                margin-bottom: 70px;
                strong{
                    display: block;
                    font-size: 37px;
                    font-weight: 600;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 18px;
                }
                .mar_20{
                    margin-bottom: 20px;
                }
            }
            .bottom{
                span{
                    font-size: 30px;
                    font-weight: 600;

                }
            }

        }
        .right{
            position: relative;
            width: 550px;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                width: 350px;
                height: 480px;
                border-radius: 35px;
            }
        }
    }
}

.pf_js,
.pf_react,
.pf_script{    
    position: relative;
    .page{
        background: url(../../public/img/main_background.png) no-repeat center center / cover;
    }   
    .tMenu{
        position: absolute;
        top: 30px;
        left: 40px;
        font-size:45px;
        color: #FD3B10;
        font-weight: 600;
        /* text-align: center; */
        span{
            text-align: center;
            display: block;            
            margin-top: 20px;
            font-size: 20px;
            color: #fff;
        }
    }
    .inner{
        display: flex;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        border-radius: 35px;
        width: 1250px;
        height: 750px;
        background: url(../../public/img/inner_background.png) no-repeat center center / cover;
        .slide{
            .slick-dots{
                position: absolute;
                bottom: 1%;
                left: 50%;
                transform: translateX(-50%);
                display: flex !important;
                gap: 10px;
                li{                    
                    width: 20px;
                    height: 20px;
                    button{
                        outline: none;
                        border: 1px solid #ddd;
                        background: #777;
                        width: 20px;
                        height: 20px;
                        font-size: 0;                        
                        border-radius: 50%;
                        /* &on{
                            background: #FD3B10;
                        } */
                    }
                }
                
            }
            .slide_inner{
                padding: 100px;
                display: flex !important;
                align-items: center;
                justify-content: space-between;
                
                .left{
                    flex: 1;
                    font-size: 17px;
                    .title{
                        font-size: 50px;
                        font-weight: 600;
                        margin-bottom: 25px;
                    }
                    .about{
                        li{
                            margin-bottom: 15px;
                        }
                    }
                    .color{
                        display: flex;
                        ol{
                            display: flex;
                            gap: 5px;
                            height: 17px;
                            
                            li{
                                font-size: 0;
                                width: 20px;
                                height: 20px;
                                border: 1px solid #ddd;
                                border-radius: 50%;

                                &:first-child{
                                    margin-left: 5px;
                                }
                            }
                        }
                    }
                    .link {
                        button{
                        border: none;
                        outline: none;
                        padding: 7px 20px;
                        box-shadow: 1px 2px 3px #666;
                        border-radius: 10px;
                        background: #fff;
                        cursor: pointer;
                        margin-top: 20px;
                        }           
                    }
                }
                .right{
                    flex: 1;
                    position: relative;
                    
                    .mockup{
                        .pc{
                            background: url(../../public/img/pc.png) no-repeat center center / cover;
                            width: 604px;
                            height: 420px;
                            padding: 48px 68px 68px 60px;
                            margin: 0 auto;

                            .pc_cover{
                                position: relative;
                                width: 100%;
                                height: 314px;
                                overflow: hidden;
                                img{
                                    border: 0;
                                    vertical-align: middle;
                                    font-size: 0;
                                    max-width: 100%
                                }
                            }
                        }
                        .mobile{
                            background: url(../../public/img/mobile.png) no-repeat center center / cover; 
                            position: absolute;
                            bottom: -10px;
                            left: -70px;
                            width: 178px;
                            height: 251px;
                            padding: 25px 19px 29px 55px;
                            /* transform: translateY(-100px);
                            opacity: 0;
                            transition: 1s 2s; */

                            .mobile_cover{
                                position: relative;
                                width: 100%;
                                height: 198px;
                                overflow: hidden;
                                border-radius: 15px;

                                .mo_top{
                                    position: absolute;
                                    top: -2px;
                                    left: 18px;
                                    width: 70px;
                                    height: 10px;
                                }
                            }
                        }
                    }
                }
            }
        } 
        .arrow_left{                
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
            color: #fff;
            z-index: 99; 
            margin: 0 0 0 -750px;
        }
        .arrow_right{                    
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 100px;
            color: #fff;
            z-index: 99; 
            margin: 0 0 0 750px;
        }        
    }   
}



.pf_contact{
    background: #151515;
    .oon{        
        padding: 30px;
        display: flex;
            
        .up{            
            .left{
                position: absolute;
                top: 50px;
                left: 150px;
                
                h2{
                    font-size: 120px;
                    font-weight: 900;
                    text-align: left;
                    color: #FD3B10;
                }
            }

            .right{
                
                position: absolute;
                top: 43%;
                left: 70%;
                transform: translate(-50%,-50%);

                input[type=text]{
                    background: #151515;
                    border: none;
                    outline: none;
                    color:#fff;
                    width: 100%;
                    padding: 15px 20px;
                    border-radius: 20px;
                }
                .input_box{
                    border: 5px solid #FD3B10;
                    border-radius: 20px;                
                    margin-bottom: 30px;
                    label{
                        color: #fff;
                        font-weight: 600;
                    }
                    textarea{
                        background: #151515;
                        outline: none;
                        border: none;
                        color:#fff;  
                        resize: none;  
                        padding: 15px 20px;
                        border-radius: 20px;               
                    } 
                }
                .top{            
                    display: flex;
                    justify-content: space-between;
                    .input_box{
                        width: 390px;
                    }
                }            
                .input_submit{
                    border: 5px solid #FD3B10;
                    border-radius: 20px;
                    background: #FD3B10;      
                    input[type=submit]{
                        border: none;
                        outline: none;
                        background: #FD3B10;
                        color: #fff;
                        width: 100%;                    
                        padding: 15px 20px;                        
                        border-radius: 20px;    
                    }          
                }            
            }
        }
        .down{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: left;
            .top{                
                padding: 20px 20px;
                width: 100%;
                border-top: 1px solid #fff;
                color: #fff;
                display: flex;
                justify-content: space-between;
                font-size: 25px;
                font-weight: 700;
                .right{
                    display: flex;
                    gap: 30px;
                    justify-content: space-evenly;
                }
            }
            .bottom{                    
                padding: 20px 20px 40px 20px;
                width: 100%;
                border-top: 1px solid #fff;
                color: #fff;
                font-size: 25px;
                font-weight: 700;
            }
        }
    }
}
 .fp-watermark{
    display: none;
}




